:root {
    --background-color: #131313;
    --card-color: #0d47a1;
    --secondary-color: #1976d2;
    --accent-color: #64b5f6;
    --text-color: #e3f2fd;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: var(--background-color);
    color: var(--text-color);
}

header {
    background: var(--card-color);
    padding: 20px;
    text-align: center;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--primary-color);
}

.contact-buttons {
    display: flex;
    padding-top: 1rem;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.contact-icon {
    width: 25px;
    height: 25px;
}

.logo {
    height: 100px;
}

h1 {
    margin-top: 0.75rem;
    margin-bottom: -0.5rem;
    font-size: 30px;
}

.section-buttons {
    display: flex;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.section-button {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--card-color);
    color: var(--text-color);
    text-decoration: none;
    padding: 0.6rem 0.6rem;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
}

.section-button.active {
    background-color: var(--secondary-color);
}

section {
    padding: 20px;
    margin: auto;
}

.content-section {
    width: 300px;
    height: fit-content;
    margin: 2rem auto;
    background-color: var(--card-color);
    border-radius: 12px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.5s ease;
    position: absolute;
    text-align: center;
}

.content-section.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    position: relative;
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-color);
    text-align: center;
    text-decoration: underline;
}

footer {
    background-color: var(--card-color);
    text-align: center;
    padding: 2px;
    font-weight: bold;
}  